<div id="left-side">
	<%=button_to "Back", '/',{:id => "button-color"}%>
</div>	
<div id="bck_img">
<h1>User Registration Form</h1>
<p>Please fill all the details</p>
<%= render :partial => 'form' %>
</div>