<!DOCTYPE html>
<html>
    <head>
        <title>Techart Blog</title>
        <%= stylesheet_link_tag "techartstyle", :media => "all" %>
        <%= javascript_include_tag :defaults %>
        <%= csrf_meta_tag %>
    </head>
    <body>
	    
    <div>
        <%= yield %>
    </div>
	
</div>
</body>
</html>
